<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HGGStracks</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/images/hgss-logo.png" rel="shortcut icon" type="image/png"/>
</head>
<body>
<header class="header primary-bg">
    <nav class="navigation container">
        <div class="menu" th:if="${loggedInUser == null}">
            <a class="link menu-item" href="/home">
                <img alt="HGSS logo" class="scaled-image" src="/images/HGSS-logo.png">
            </a>
            <a class="link menu-item" href="/home">Naslovnica</a>
            <a class="link menu-item" href="/login">Prijavi se</a>
            <a class="link menu-item" href="/signup">Registriraj se</a>
        </div>
    </nav>
</header>
<section class="section secondary-bg">


    <div class="container center-container">
        <div class="centered-container">
            <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
            <br><br>

            <form action="/logInUser" method="post" th:action="@{/logInUser}">
                <fieldset class="login">
                    <legend>User login</legend>
                    <label for="username">Korisničko ime:</label>
                    <input id="username" maxlength="20" minlength="5" th:name="username" type="text"> <br>
                    <label for="password">Lozinka:</label>
                    <input id="password" minlength="5" th:name="password" type="password"> <br>
                    <br>
                    <input type="submit" value="Prijavi se"> <input type="reset" value="Obriši sve">
                </fieldset>
            </form>
            <h4 class="main-color-emphasized">Nemaš korisnički račun? <a href="/signup">Registriraj se!</a></h4>

        </div>
    </div>

    <div class="container">
    </div>

</section>

</body>

<footer class="footer">
    <div class="menu">
        <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
            © 2020 TeamIce. All rights reserved.
        </h4>
    </div>
</footer>
</html>
