<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>HGGStracks</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="./images/hgss-logo.png" rel="shortcut icon" type="image/png"/>
</head>
<body  onload="setFirst()">
<p class="logged-in-user link menu-item" th:if="${headerName != null}" th:text="${headerName}"></p>
<header class="header primary-bg">
    <nav class="navigation">
        <div class="menu" th:if="${loggedInUser == null}">
            <a class="link menu-item" href="/home">
                <img alt="HGSS logo" class="scaled-image" src="/images/HGSS-logo.png">
            </a>
            <a class="link menu-item" href="/home">Naslovnica</a>
            <a class="link menu-item" href="/login">Prijavi se</a>
            <a class="link menu-item" href="/signup">Registriraj se</a>
        </div>
        <div class="menu" th:unless="${loggedInUser == null}">
            <a class="link menu-item" href="/home">
                <img alt="HGSS logo" class="scaled-image" src="/images/HGSS-logo.png">
            </a>
            <a class="link menu-item" href="/home">Naslovnica</a>
            <a class="link menu-item" href="/profile">Profil</a>
            <a class="link menu-item" href="/map">Karta</a>
            <a class="link menu-item" href="/actions" th:if="${!loggedInSaviorInAction}">Akcije</a>
            <div th:switch="${loggedInUser.userType.toString()}">
                <div class="menu" th:case="'SAVIOR'">
                </div>
                <div class="menu" th:case="'DISPATCHER'">
                    <a class="link menu-item" href="/stations">Postaje</a>
                </div>
                <div class="menu" th:case="'ADMIN'">
                    <a class="link menu-item" href="/stations">Postaje</a>
                    <a class="link menu-item" href="/users">Korisnici</a>
                </div>
                <div class="menu" th:case="'LEAD_SAVIOR'">
                    <a class="link menu-item" href="/stations">Postaje</a>
                </div>
            </div>
            <a class="link menu-item" href="/logout">Odjavi se</a>
        </div>

    </nav>
</header>
<h2 th:align="center">Korisnički podaci</h2>

<div class="profile-container">
    <div class="profile-row">
        <img class="photo" th:src="@{'data:image/jpeg;base64,'+${new String(loggedInUser.photo)}}"/>
    </div>
    <div class="profile-row">
        <h3 style="display:inline">Ime: </h3> <span th:text="${loggedInUser.firstName}"></span>
    </div>
    <div class="profile-row">
        <h3 style="display:inline">Prezime: </h3> <span th:text="${loggedInUser.surname}"></span>
    </div>
    <div class="profile-row">
        <h3 style="display:inline">Korisničko ime: </h3> <span th:text="${loggedInUser.username}"></span>
    </div>
    <div class="profile-row">
        <h3 style="display:inline">Broj mobitela: </h3> <span th:text="${loggedInUser.phoneNumber}"></span>
    </div>
    <div class="profile-row">
        <h3 style="display:inline">Email: </h3> <span th:text="${loggedInUser.email}"></span>
    </div>
    <div class="profile-row">
        <h3 style="display:inline">Uloga: </h3> <span
            th:text="${loggedInUser.userType.toCroWord(loggedInUser.userType)}"></span>
    </div>
    <div class="profile-row" th:if="${loggedInUser.userType.toString() == 'SAVIOR' || loggedInUser.userType.toString() == 'LEAD_SAVIOR'}">
        <h3 style="display:inline">Dostupnost: </h3>
        <input type="checkbox" id="Available" name="Available" value="Available" onclick="setAvailability()">
    </div>
</div>
<img alt="Flower" class="separator" src="images/cvjetic.png">

</body>
<footer class="footer">
    <div class="menu">
        <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
            © 2020 TeamIce. All rights reserved.
        </h4>
    </div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
<script>
    function setAvailability() {
        const checkBox = document.getElementById("Available");
        var data = checkBox.checked.toString();
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "/available",
            data: data,
            success: function (e) {
            },
            error: function (e) {
            },
            done: function (e) {
            }
        });
    }
    function setFirst() {
        if (document.getElementById("Available"))
        {
            var avail = [[${available}]]
            document.getElementById("Available").checked=avail;
        }
    }
</script>
</html>