<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HGGStracks</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="./images/hgss-logo.png" rel="shortcut icon" type="image/png"/>
</head>
<body>
<p class="logged-in-user link menu-item" th:if="${headerName != null}" th:text="${headerName}"></p>
<header class="header primary-bg">
    <nav class="navigation container">
        <div class="menu" th:if="${loggedInUser == null}">
            <a class="link menu-item" href="/home">
                <img alt="HGSS logo" class="scaled-image" src="/images/HGSS-logo.png">
            </a>
            <a class="link menu-item" href="/home">Naslovnica</a>
            <a class="link menu-item" href="/login">Prijavi se</a>
            <a class="link menu-item" href="/signup">Registriraj se</a>
        </div>

        <div class="menu" th:unless="${loggedInUser == null}">
            <a class="link menu-item" href="/home">
                <img alt="HGSS logo" class="scaled-image" src="/images/HGSS-logo.png">
            </a>
            <a class="link menu-item" href="/home">Naslovnica</a>
            <a class="link menu-item" href="/profile">Profil</a>
            <a class="link menu-item" href="/map">Karta</a>
            <a class="link menu-item" href="/actions" th:if="${!loggedInSaviorInAction}">Akcije</a>
            <div th:switch="${loggedInUser.userType.toString()}">
                <div class="menu" th:case="'SAVIOR'">
                </div>
                <div class="menu" th:case="'DISPATCHER'">
                    <a class="link menu-item" href="/stations">Postaje</a>
                </div>
                <div class="menu" th:case="'ADMIN'">
                    <a class="link menu-item" href="/stations">Postaje</a>
                    <a class="link menu-item" href="/users">Korisnici</a>
                </div>
                <div class="menu" th:case="'LEAD_SAVIOR'">
                    <a class="link menu-item" href="/stations">Postaje</a>
                </div>
            </div>
            <a class="link menu-item" href="/logout">Odjavi se</a>
        </div>

    </nav>
</header>
<div class="alert alert-danger" style="text-align: center" role="alert" th:if="${error}" th:text="${error}"></div>
<h2 th:align="center">Tablica korisnika</h2>

<table>
    <tr>
        <th>Fotografija</th>
        <th>Identifikator</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Korisničko ime</th>
        <th>Broj mobitela</th>
        <th>Email</th>
        <th>Uloga</th>
        <th>Registriran</th>
        <th style="text-align: center">Alati</th>
    </tr>
    <th:block th:each="user : ${users}" th:object="${editUserId}">
        <tr>
            <div th:if="${user.userId == editUserId}">
                <form action="/updateUser" class="form-inline" method="post" th:object="${newUser}">
                    <input name="userId" th:value="${user.userId}" type="hidden">
                    <td style="text-align: center"><img class="photo"
                                                        th:src="@{'data:image/jpeg;base64,'+${new String(user.photo)}}"/>
                    </td>
                    <td th:text="${user.userId}"></td>
                    <td><input id="firstname" th:name="firstName" th:value="${user.firstName}" type="text"></td>
                    <td><input id="lastname" th:name="surname" th:value="${user.surname}" type="text"></td>
                    <td><input id="username" th:name="username" th:value="${user.username}" type="text"></td>
                    <td><input id="phoneNumber" th:name="phoneNumber" th:value="${user.phoneNumber}" type="text"></td>
                    <td><input id="email" th:name="email" th:value="${user.email}" type="text"></td>

                    <td>
                        <select id="userType" th:name="userType">
                            <option th:text="${user.userType.toCroWord(user.userType)}"
                                    th:value="${user.userType}"></option>
                            <option th:if="${user.userType.toString() != 'SAVIOR'}" th:value="SAVIOR">Spasilac</option>
                            <option th:if="${user.userType.toString() != 'DISPATCHER'}" th:value="DISPATCHER">Dispečer
                            </option>
                            <option th:if="${user.userType.toString() != 'LEAD_SAVIOR'}" th:value="LEAD_SAVIOR">Glavni
                                spasilac
                            </option>
                            <option th:if="${user.userType.toString() != 'ADMIN'}" th:value="ADMIN">Admin</option>
                        </select>
                    </td>
                    <input name="registered" th:value="${user.registered}" type="hidden">
                    <td th:text="${user.registered} ? 'REGISTRIRAN' : 'NEREGISTRIRAN' "></td>
                    <td class="center-button" th:align="center">
                        <button class="table-btn edit" th:name="updateUser" type="submit" value="Spremi">Spremi</button>
                </form>
                <form class="form-inline center-button" th:action="@{/stopEdit}">
                    <button class="table-btn edit" th:name="stopEdit">Odustani
                    </button>
                </form>
                </td>
            </div>
            <div th:unless="${user.userId == editUserId}">
                <td style="text-align: center"><img class="photo"
                                                    th:src="@{'data:image/jpeg;base64,'+${new String(user.photo)}}"/>
                </td>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.email}"></td>
                <td th:switch="${user.userType.toString()}">
                    <span th:case="'SAVIOR'">Spasilac</span>
                    <span th:case="'DISPATCHER'">Dispečer</span>
                    <span th:case="'ADMIN'">Admin</span>
                    <span th:case="'LEAD_SAVIOR'">Glavni spasilac</span>
                    <span th:case="*">None</span>
                </td>
                <td th:text="${user.registered} ? 'REGISTRIRAN' : 'NEREGISTRIRAN'"></td>
                <td th:align="center">
                    <div class="center-button" th:if="${user.registered == true}">
                        <form class="form-inline" th:action="@{/editUser}"
                              th:unless="${user.userType.toString() =='ADMIN'}">
                            <button class="table-btn" th:name="Edit" th:value="${user.userId}">Uredi
                            </button>
                        </form>
                        <form class="form-inline" th:action="@{/deleteUser}"
                              th:unless="${user.userType.toString() =='ADMIN'}">
                            <button class="table-btn" th:name="Delete" th:value="${user.userId}">Izbriši
                            </button>
                        </form>
                    </div>
                    <div class="center-button" th:unless="${user.registered == true}">
                        <form class="form-inline" th:action="@{/acceptUser}">
                            <button class="accept" th:name="Accept" th:value="${user.userId}">Prihvati</button>
                        </form>
                        <form class="form-inline" th:action="@{/deleteUser}">
                            <button class="decline" th:name="Delete" th:value="${user.userId}">Odbij</button>
                        </form>
                    </div>

                </td>
            </div>
        </tr>
    </th:block>
</table>
<form class="form-inline" th:action="@{/generate}">
    <button class="accept" th:name="Accept">Generiraj usere</button>
</form>
<form class="form-inline" th:action="@{/deleteAll}">
    <button class="accept" th:name="DeleteAll">Izbriši sve usere</button>
</form>

</div>


</body>
<footer class="footer">
    <div class="menu">
        <h4 class="infobox-title infobox-title-secondary-color main-color-emphasized">
            © 2020 TeamIce. All rights reserved.
        </h4>
    </div>
</footer>
</html>